p/* Make something awesome! */
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }

.slide {
    position:relative;
  width:800px;
  height:400px;
  margin-left:auto;
  margin-right:auto;
}

.sliderimg {
  position:relative;
width:inherit;
height:inherit;
}

.tile-area {
  position: relative;
  z-index: 1;
  background-color: yellow;
  width:950px;
  height:178px;
  margin-left:auto;
  margin-right:auto;
}

.divider1-3 {
  position:relative;
  float: left;
  height:100%; 
  width: 33.3%; 
  background-color:blue;
}

.divider2-3 {
  position:relative;
  float: left;
  height:100%; 
  width: 33.3%; 
  background-color:green;
}

.divider3-3 {
  position:relative;
  float: left;
  height:100%; 
  width: 33.3%; 
  background-color:gray;
}

.video {
  position: relative;
  z-index: 1;
  margin-top:100px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
}

.center {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.center-p {
  text-align: center;
}

.event {
  position:relative;
  width:250px;
  height:390px;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.mini-event {
  position:relative;
  width:200px;
  height:330px;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.mini-event-well {
    padding:0px;
}


.mini-event-old {
    position:relative;
  width:200px;
  height:330px;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.event-img-xs {
  height:150px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.event-img-mini {
  height:150px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.mini-profile {
  position:relative;
  width:200px;
  height:300px;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.mini-profile-pie {
  position:relative;
  width:400px;
  height:330px;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.profile-img-mini {
  height:150px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.profile-img-s {
  height:100px;
  width:100px;
  margin-left:auto;
  margin-right:auto;
}

.profile-img-xs {
  position:relative;
  height:40px;
  width:40px;
  margin-left:auto;
  margin-right:auto;
  
}

.profile-pie {
  position:relative;
  margin-top:20%;
  margin-bottom:50%;
  margin-left:auto;
  margin-right:auto;
}

.quispot-gray {
  background-color:#c6c6c6;
}

.transparent-bck {
    background-color:transparent; border:0px;
}

.plusicon {
  width:30px;
  height:30px;
}

.searchicon {
  width:25px;
  height:25px;
  margin-top:4px;
}

.logoicon {
  position:relative;
width:inherit;
height:inherit;
}

.qui-button {
  background-color:#a2cb4a;
  border:0px;
}

.qui-button-footer {
background-color:transparent; border:0px;
}

.qui-button-footer:hover{
  background-color:#a2cb4a;
  border:0px;
}

.qui-background-semi {
  background-color:#eeeeee;
}

.black {
  background-color:black;
}

.black {
  color:black;
}

.red {
  background-color:red;
}

.qui-footer {
  height:70px;
}

.qui-label {
  float:left;
  padding:0px;
  position:absolute;
  top:30px;
  left:0px;
  width:50px;
  height:20px;
  background-color:#c6c6c6;
  text-align:center;
}

.qui-green-font {
  color:#8cb335;
}

.user-presence-xs {
  width:100px;
  height:130px;
  margin-left:auto;
  margin-right:auto;
  padding-right:20px;
}

.user-presence-xs label {
  padding-left:5px;
}

.location {
    padding-right:10px;
}

.white {
    background-color:white;
}

.diabled-tab {
    background-color:gray;
}

.social-icon-s {
    width:30px;
    height:30px;
}

.shadow {
    -webkit-box-shadow: 0px 9px 19px 0px rgba(50, 50, 50, 0.66);
    -moz-box-shadow:    0px 9px 19px 0px rgba(50, 50, 50, 0.66);
    box-shadow:         0px 9px 19px 0px rgba(50, 50, 50, 0.66);
}

.noborder {
    border:0px;
}