<!doctype html>
<html>

  <head>
    <title>Default</title>
    <meta name="viewport" charset="utf-8" http-equiv="content-type" content="width=device-width">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/cyborg/bootstrap.min.css">
        <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/cirrus/bootstrap.min.css">
          <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="javascript/index.js"></script>
            <link rel=" stylesheet" href="stylesheet/main.css">

              <!-- fotorama.css & fotorama.js. -->
              <link href="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.css" rel="stylesheet">
                <!-- 3 KB -->
                <script src="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.js"></script>
                <!-- 15 KB -->

              </head>

  <body onload="init()">
    <br>
      <br>
        <div class="container carouzel">
          <div class="container">
            <div class="fotorama" style="margin-left:15%" data-maxwidth="800" data-maxheight="800" data-minwidth="500" data-minheight="500" data-autoplay="true" data-loop="true">
              <img src="http://www.hdwallpapers3g.com/wp-content/uploads/2014/01/hd-wallpaper-desktop-1.jpeg" alt="">
                <img src="http://newevolutiondesigns.com/images/freebies/hd-wallpaper-8.jpg" alt="">
                  <img src="http://www.hdwallpapers3d.com/wp-content/uploads/2013/04/car11.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="container info" style="margin-top:150px;">
          <div class="row">
            <div class="col-md-4 well qui-background-semi">
              <p class="center-p">Τι είναι;</p>
              <p class="center-p">Το Quispot σου βρίσκει συμπαίκτες για το αγαπημένο σου ομαδικό παιχνίδι, όποτε θέλεις, όπου θέλεις!</p>
            </div>
            <div class="col-md-4 well qui-background-semi">
              <p class="center-p">Φτιάξε event!</p>
              <p class="center-p">Όταν εχεις ελεύθερο χρόνο και θες να παίξεις το αγαπημένο σου παιχνίδι εκεί που σε βολεύει!</p>
            </div>
            <div class="col-md-4 well qui-background-semi">
              <p class="center-p">Ψάξε event!</p>
              <p class="center-p">
                Όταν θες να δεις αν σε βολεύει κάποιο από τα event που έχουν δημιουργήσει άλλοι χρήστες!
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <section class="video well qui-background-semi">
            <iframe class="video-iframe center" width="640" height="360" src="https://www.youtube.com/embed/cWSo3uuAdUc"></iframe>
            <section>
              <br>
                <h4 class="center-p qui-green-font">
                  <b>Μάθε πως λειτουργεί σε 1 λεπτό!</b>
                </h4>
              </section>
          </section>
        </div>
        <div class="steps well container qui-background-semi" style="height:300px;">
          <h4 class="center-p qui-green-font">
            <b>Φτιάξε ένα event σε 4 βήματα!</b>
          </h4>
          <br>
            <div class="row">
              <div class="col-md-3">
                <img class="center" src="images/quipin-bot.png">
                  <p class="center-p qui-green-font">What?</p>
                </div>
              <div class="col-md-3">
                <img class="center" src="images/quipin-bot.png">
                  <p class="center-p qui-green-font">Where?</p>
                </div>
              <div class="col-md-3">
                <img class="center" src="images/quipin-bot.png">
                  <p class="center-p qui-green-font">Where?</p>
                </div>
              <div class="col-md-3">
                <img class="center" src="images/quipin-bot.png">
                  <p class="center-p qui-green-font">Who?</p>
                </div>
            </div>
          </div>
        <br>
          <div class="container">
            <section>
              <h3 class="center-p qui-green-font"> Here are some of the current active events! </h3>
              <br />
              <div class="row">
                <div class="col-md-4">
                  <div class="well mini-event qui-background-semi">
                    <span class="qui-label">sports</span>
                    <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                      <h4 class="center-p">This is a heading.</h4>
                      <h4 class="center-p">This is a heading.</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 40%;"></div>
                      </div>
                      <button class="btn btn-success btn-lg center qui-button">join</button>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="mini-event well qui-background-semi">
                    <span class="qui-label">sports</span>
                    <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                      <h4 class="center-p">This is a heading.</h4>
                      <h4 class="center-p">This is a heading.</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                      </div>
                      <button class="btn btn-success btn-lg center qui-button">join</button>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="well mini-event qui-background-semi">
                    <span class="qui-label">sports</span>
                    <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                      <h4 class="center-p">This is a heading.</h4>
                      <h4 class="center-p">This is a heading.</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 1000%;"></div>
                      </div>
                      <button class="btn center btn-success btn-lg qui-button">join</button>
                    </div>
                </div>
              </div>
            </section>
          </div>

          <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Contact us</h4>
                </div>
                <div class="modal-body">
                  <p class="qui-green-font">
                    <b> You can contact us via social media </b>
                  </p>
                  <a href="https://www.facebook.com/quispot" class="btn btn-primary btn-xs">
                    <span class="fa fa-facebook"></span> Facebook
                  </a>
                  <a href="https://twitter.com/QuispotCom" class="btn btn-info btn-xs">
                    <span class="fa fa-twitter"></span> Twitter
                  </a>
                  <br />
                  <br />
                  <p class="qui-green-font">
                    <b> or send us an instant message! </b>
                  </p>
                  <textarea class="form-control"></textarea>
                  <br />
                  <p class="qui-green-font">
                    <b>
                      Leave your email address if you would like to contact you there.
                    </b>
                  </p>
                  <div class="controls">
                    <input type="text" class="form-control" placeholder="Email address">
                    </div>
                  <br />
                  <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>(test) Error!</b> Sorry you need to either be logged in or provide an email address.
                  </div>
                  <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>(test) Thank you!</b> We will contact you as soon as possible.
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success qui-button" data-dismiss="modal">Send</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="profile-settings-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Profile Settings</h4>
                </div>
                <div class="modal-body">
                  <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>Error!</b> Settings Not Saved.
                  </div>
                  <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>Sucess!</b> Settings saved succesfully.
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item qui-green-font">
                      Show Gender?<input type="checkbox" style="float:right">
                        </li>
                    <li class="list-group-item qui-green-font">
                      Receive Age?<input type="checkbox" style="float:right">
                        </li>
                    <hr>
                      <li class="list-group-item qui-green-font">
                        <form>
                          <div class="form-group">
                            <label class="control-label">City</label>
                            <div class="controls">
                              <input type="text" class="form-control">
                                    </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label">Area</label>
                            <div class="controls">
                              <input type="password" class="form-control">
                                    </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label">Address</label>
                            <div class="controls">
                              <input type="password" class="form-control">
                                    </div>
                            <div class="controls"></div>
                          </div>
                        </form>
                      </li>
                    </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success qui-button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="account-settings-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Account Settings</h4>
                </div>
                <div class="modal-body">
                  <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>Error!</b> Settings Not Saved.
                  </div>
                  <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>Sucess!</b> Settings saved succesfully.
                  </div>
                  <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>An email will be sent for confirmation!</b> Thank you.
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item qui-green-font">
                      Receive Email Notifications?<input type="checkbox" style="float:right">
                        </li>
                    <li class="list-group-item qui-green-font">
                      Receive Newsletters?<input type="checkbox" style="float:right">
                        </li>
                    <hr>
                      <li class="list-group-item qui-green-font">
                        <ul class="nav nav-tabs" id="myTab">
                          <li class="active">
                            <a href="#email" data-toggle="tab" style="color:black;">Email Address</a>
                          </li>
                          <li>
                            <a href="#password" data-toggle="tab" style="color:black;">Password</a>
                          </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="email">
                            <div class="form-group">
                              <br>
                                <label class="control-label">New Email Address</label>
                                <div class="controls">
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                            <button type="button" class="btn btn-success qui-button">Update</button>
                          </div>
                          <div class="tab-pane" id="password">
                            <div class="form-group">
                              <br>
                                <label class="control-label">New Password</label>
                                <div class="controls">
                                  <input type="password" class="form-control">
                                </div>
                              </div>
                            <div class="form-group">
                              <label class="control-label">Re-Enter Password</label>
                              <div class="controls">
                                <input type="password" class="form-control">
                              </div>
                            </div>
                            <button type="button" class="btn btn-success qui-button">Update</button>
                          </div>
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success qui-button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="connectedapps-settings-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Connected Apps</h4>
                </div>
                <div class="modal-body">
                  <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>Error!</b> Settings Not Saved.
                  </div>
                  <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>Sucess!</b> Settings saved succesfully.
                  </div>
                  No page yet...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="whatis-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">
                    <b>Quispot</b>
                  </h4>
                </div>
                <div class="modal-body ">
                  <h3 class="qui-green-font">What is Quispot?</h3>
                  <p> bla bla </p>
                  <h3 class="qui-green-font">What does it mean?</h3>
                  <p>
                    Blah blah
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="howitworks-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">
                    <b>Quispot</b>
                  </h4>
                </div>
                <div class="modal-body ">
                  <h3 class="qui-green-font">How does Quispot work?</h3>
                  <p> bla bla </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="navbar navbar-fixed-top navbar-inverse quispot-gray header1 noborder shadow">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="position:relative; width:150px; height:40px; left:-20px;" href="/">
                  <img class="logoicon" src="images/quispot-logo-wide.png">
                </a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a class="btn btn-primary btn-xs transparent" style="background-color:transparent; border:0px;" href="/create">
                      <img class="plusicon" src="images/plus.png">
                        </a>
                  </li>
                  <li class="active">
                    <a class="btn btn-primary btn-xs" style="background-color:transparent; border:0px;" href="/search">
                      <img class="searchicon" src="images/search.png">
                        </a>
                  </li>
                  <li class="active">
                    <a class="btn btn-primary btn-sm" style="background-color:transparent; color:black; border:0px; height:64px" onclick="$('#contact-modal').modal();">
                      <p></p> Contact
                    </a>
                  </li>
                </ul>
                <div class="nav navbar-right ">
                  <ul class="nav navbar-nav">
                    <% if (typeof  user !== 'undefined') { %>

                    <li>
                      <div class="SignedInArea-NoProfile navbar-form" style="display:block;">
                        <h4 class="qui-green-font location" style="float:left;">
                          <%= user.local.City %>
                        </h4>

                        <div class="btn-group">
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                            <img class="profile-img-xs" src="https://cdn1.iconfinder.com/data/icons/Hand_Drawn_Web_Icon_Set/128/user.png">
                              <span class="caret"></span>
                            </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="profile">Profile</a>
                            </li>
                            <li>
                              <a href="logout">Log out</a>
                            </li>
                            <li>
                              <hr />
                            </li>
                            <li>
                              <a href="#">This will show each notification</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="navbar-form navbar-right" style="display:block;">
                        <div class="btn-group">
                          <a class="btn dropdown-toggle btn-success btn-lg qui-button" data-toggle="dropdown" href="#">
                            Settings    <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a onclick="$('#profile-settings-modal').modal();">Profile Settings</a>
                            </li>
                            <li>
                              <a onclick="$('#account-settings-modal').modal();">Account Settings</a>
                            </li>
                            <li>
                              <a onclick="$('#connectedapps-settings-modal').modal();">Connected Apps</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <% } else { %>
                    <li>
                      <div class="SignRegArea navbar-form" style="display:block;">
                        <a type="submit " href="login" class="btn qui-button btn-success btn-lg">Sign in</a>
                        <a type="submit " href="signup" class="btn qui-button btn-success btn-lg">Register</a>
                      </div>
                    </li>
                    <% } %>

                  </ul>
                </div>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
          <footer class="black well" style="margin:0px; border:0px; padding-bottom:0px;">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <a class="btn btn-primary btn-sm qui-button-footer" onclick="$('#whatis-modal').modal();">What is Quispot</a>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-primary btn-sm qui-button-footer" onclick="$('#howitworks-modal').modal();">How it works</a>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-primary btn-sm qui-button-footer">Terms of Use</a>
                </div>
                <div class="col-md-2">
                  <dl style="position:relative; top:-10px;">
                    <dt style="color:white;">
                      Find us &nbsp;
                      <a href="https://www.facebook.com/quispot" class="">
                        <img class="social-icon-s" src="images/facebook2.png">
                            </a>
                      <a href="https://twitter.com/QuispotCom" class="">
                        <img class="social-icon-s" src="images/twitter2.png">
                            </a>
                    </dt>
                  </dl>
                </div>
                <div class="col-md-4">
                  <p style="color:white; float:right;">&copy; Quispot - All rights reserved</p>
                </div>
              </div>
            </div>
            <!-- /container -->
          </footer>
        </body>
</html>
