<!doctype html>
<html>

  <head>
    <title>Create an Event!</title>
    <meta name="viewport" content="width=device-width">
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/cyborg/bootstrap.min.css">
        <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/cirrus/bootstrap.min.css">
          <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="javascript/bootstrap-datetimepicker.js"></script>
            <script type="text/javascript" src="javascript/create.js"></script>
            <link rel="stylesheet" href="stylesheet/bootstrap-datetimepicker.min.css">
              <link rel="stylesheet" href="stylesheet/main.css">
</head>

  <body onload="init();">
    <div class="container">
      <section class="video well qui-background-semi" style="padding-top:0px; padding-left:0px; height:650px;">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active" style="width:20%;">
            <a id="tab1" href="#step1" data-toggle="tab">
              <p class="qui-green-font center-p">What?</p>
            </a>
          </li>
          <li style="width:20%;" onclick="window.setTimeout(function () { if ($('.act2-date').is(':visible')) { $('#datetimepicker').datetimepicker('show'); } },200)">
            <a id="tab2" href="#step2" data-toggle="tab" style="color:black;">
              <p class="qui-green-font center-p">When?</p>
            </a>
          </li>
          <li style="width:20%;">
            <a id="tab3" href="#step3" data-toggle="tab" style="color:black;">
              <p class="qui-green-font center-p">Where?</p>
            </a>
          </li>
          <li style="width:20%;">
            <a id="tab4" href="#step4" data-toggle="tab" style="color:black;">
              <p class="qui-green-font center-p">Who?</p>
            </a>
          </li>
          <li style="width:20%;">
            <a id="tab5" href="#step5" data-toggle="tab" style="color:black;">
              <p class="qui-green-font center-p">Review</p>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="step1">
            <h3 class="center-p qui-green-font actTitle"> Create your own Event!</h3>
            <br />
            <div class="row">
              <div class="col-md-3 qui-background-semi">
              </div>
              <div class="col-md-2 qui-background-semi">
                <button id="sports" class="btn btn-success btn-lg qui-button" style="background-color:transparent;">
                  <img class="profile-img-s" src="images/sports.png">
                            </button>
              </div>
              <div class="col-md-2 qui-background-semi">
                <button id="cardgames" class="btn btn-success btn-lg qui-button" style="background-color:transparent;">
                  <img class="profile-img-s" src="images/cardgames.png">
                            </button>
              </div>
              <div class="col-md-2 qui-background-semi">
                <button id="boardgames" class="btn btn-success btn-lg qui-button" style="background-color:transparent;">
                  <img class="profile-img-s" src="images/boardgame.png">
                            </button>
              </div>
              <div class="col-md-3 qui-background-semi">
              </div>
            </div>

            <div class="center center-p act1 ">
              <h3 id="act1-sub-title" class="center-p qui-green-font"> Pick an activity </h3>
              <select class="sports" style="display:none;">
                <option value=""> Please select</option>
                <% for(var i=0; i<category[0].children.length; i++) { %>
                  <option value="<%= category[0].children[i] %>">
                    <%= category[0].children[i] %>
                  </option>
                  <% } %>
              </select>

              <select class="cardgames" style="display:none;">
                <option value=""> Please select</option>
                <% for(var i=0; i<category[1].children.length; i++) { %>
                  <option value="<%= category[1].children[i] %>">
                    <%= category[1].children[i] %>
                  </option>
                  <% } %>
              </select>

              <select class="boardgames" style="display:none;">
                <option value=""> Please select</option>
                <% for(var i=0; i<category[2].children.length; i++) { %>
                  <option value="<%= category[2].children[i] %>">
                    <%= category[2].children[i] %>
                  </option>
                  <% } %>
              </select>


              <div class="center container" style="display:none;">
                <table class="center" style="width:410px;">
                  <tr>
                    <td>
                      <button id="activity" class="btn btn-success btn-lg qui-button" style="width: 150px; height: 150px; margin: 5px;">
                        <p>Football</p>
                      </button>
                    </td>
                    <td>
                      <button id="activity" class="btn btn-success btn-lg qui-button" style="width: 150px; height: 150px; margin: 5px;">
                        <p>Basketball</p>
                      </button>
                    </td>
                    <td>
                      <button id="activity" class="btn btn-success btn-lg qui-button" style="width: 70px; height: 70px; display: block; margin:5px;">
                        <p>ski</p>
                      </button>
                      <button id="activity" class="btn btn-success btn-lg qui-button" style="width: 70px; height: 70px; margin: 5px;">
                        <p style="font-size:10px; display:block;">water</p>
                        <p style="font-size:10px;"> polo</p>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
            </div>
          </div>
          <div class="tab-pane" id="step2">
            <div class="form-group center" style="width:150px;">
              <h3 class="pull-right qui-green-font"> Pick a Date! </h3>
              <div class="input-append date form_datetime pull-left" id="datetimepicker" >
                <input class="form-control act2-date" size="16" style="background-color:white; width:190px;" type="text" value="" readonly="">
                  <span class="add-on">
                    <i class="icon-remove"></i>
                  </span>
                  <span class="add-on">
                    <i class="icon-calendar"></i>
                  </span>
                </div>
              <input type="text" class="form-control" style="display:none;" id="mirror_field_act2" value="" readonly="" />

              <script type="text/javascript">
                $(".form_datetime").datetimepicker({
                format: "dd MM yyyy - hh:ii",
                autoclose: true,
                todayBtn: true,
                minuteStep: 30,
                autoclose: true,
                todayHighlight: true,
                linkField: "mirror_field_act2",
                linkFormat: "yyyy-mm-dd hh:ii"
                });
              </script>
            </div>
          </div>
          <div class="tab-pane" id="step3">
            <h3 class="center-p qui-green-font"> Pick a Spot to Play! </h3>

            <div class="row act0">
              <div class="col-md-1 qui-background-semi">
              </div>
              <div class="col-md-7 qui-background-semi">

                <div class="map" id="GoogleMap" style="height:500px; width:600px"></div>


                <input type="text" class="form-control act3-map" style="width:243px;" placeholder="Search specific spot or address">
                        </div>
              <div class="col-md-3 qui-background-semi pull-right">
                <div id="miniSpot" style="display:none;" class="well mini-event qui-background-semi">
                  <span id="mainactivitylabel" class="qui-label">Spot</span>
                  <img id="mainactivityimage" class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                    <h4 id="mainactivityname" class="center-p">Spot Name</h4>
                    <div style="display:none;">
                      <h4 class="center-p">Popularity</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 40%;"></div>
                      </div>
                    </div>
                    <button id="pickspot" class="btn btn-success btn-lg center qui-button">Pick Me</button>
                  </div>
              </div>
              <div class="col-md-1 qui-background-semi">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="step4">
            <h3 class="center-p qui-green-font"> How Many do you need? </h3>
            <input type="text" class="form-control act4-numbers center" maxlength="2" style="width:43px;" placeholder="##">
              <br>
                <div style="display:none;">
                  <h3 class="center-p qui-green-font"> Do you want to invite any friends? </h3>
                  <input type="text" class="form-control act4-invite center" style="width:20%;">
                  </div>
              </div>
          <div class="tab-pane" id="step5">
            <section class="final-act">
              <dl>
                <dt>
                </dt>
                <dd>
                  <h4 class="center-p qui-green-font"  style="cursor:pointer;" id="reviewWhat"></h4>
                </dd>
                <dd>
                  <h4 class="center-p qui-green-font" style="cursor:pointer;" id="reviewWhen"> </h4>
                </dd>
                <dd>
                  <h4 class="center-p qui-green-font" style="cursor:pointer;" id="reviewWhere"> </h4>
                </dd>
                <dd>
                  <h4 class="center-p qui-green-font" style="cursor:pointer;" id="reviewWho"> </h4>
                </dd>
                <dd>
                  <button class="btn btn-success btn-lg center qui-button create" id="create" disabled="true;" />Create!
                </dd>
              </dl>
            </section>
            <h2 class="qui-green-font center-p">
              <b>Recomended</b>
            </h2>
            <br />
            <section>
              <div class="row act0 center">
                <div class="col-md-3 qui-background-semi mini-event-well">
                  <div class="well mini-event qui-background-semi">
                    <span class="qui-label">Sport</span>
                    <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                      <h4 class="center-p">Spot Name</h4>
                      <h4 class="center-p">Popularity</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 40%;"></div>
                      </div>
                      <button class="btn btn-success btn-lg center qui-button">Joine</button>
                    </div>
                </div>
                <div class="col-md-3 qui-background-semi mini-event-well">
                  <div class="well mini-event qui-background-semi">
                    <span class="qui-label">Sport</span>
                    <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                      <h4 class="center-p">Spot Name</h4>
                      <h4 class="center-p">Popularity</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 40%;"></div>
                      </div>
                      <button class="btn btn-success btn-lg center qui-button">Join</button>
                    </div>
                </div>
                <div class="col-md-3 qui-background-semi mini-event-well">
                  <div class="well qui-background-semi mini-event">
                    <span class="qui-label">Sport</span>
                    <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                      <h4 class="center-p">Spot Name</h4>
                      <h4 class="center-p">Popularity</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 40%;"></div>
                      </div>
                      <button class="btn btn-success btn-lg center qui-button">Join</button>
                    </div>
                </div>
                <div class="col-md-3 qui-background-semi mini-event-well">
                  <div class="well mini-event qui-background-semi">
                    <span class="qui-label">Sport</span>
                    <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                      <h4 class="center-p">Spot Name</h4>
                      <h4 class="center-p">Popularity</h4>
                      <div class="progress">
                        <div class="progress-bar" style="width: 40%;"></div>
                      </div>
                      <button class="btn btn-success btn-lg center qui-button">Join</button>
                    </div>
                </div>
              </div>
            </section>
          </div>
        </div>




      </section>

      <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Contact us</h4>
            </div>
            <div class="modal-body">
              <p class="qui-green-font">
                <b> You can contact us via social media </b>

              </p>
              <a href="https://www.facebook.com/quispot" class="btn btn-primary btn-xs">
                <span class="fa fa-facebook"></span> Facebook
              </a>
              <a href="https://twitter.com/QuispotCom" class="btn btn-info btn-xs">
                <span class="fa fa-twitter"></span> Twitter
              </a>
              <br />
              <br />
              <p class="qui-green-font">
                <b> or send us an instant message! </b>
              </p>
              <textarea class="form-control"></textarea>
              <br />
              <p class="qui-green-font">
                <b>
                  Leave your email address if you would like to contact you there.
                </b>
              </p>
              <div class="controls">
                <input type="text" class="form-control" placeholder="Email address">
                        </div>
              <br />
              <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>(test) Error!</b> Sorry you need to either be logged in or provide an email address.
              </div>
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>(test) Thank you!</b> We will contact you as soon as possible.
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success qui-button" data-dismiss="modal">Send</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="profile-settings-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Profile Settings</h4>
            </div>
            <div class="modal-body">
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Error!</b> Settings Not Saved.
              </div>
              <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Sucess!</b> Settings saved succesfully.
              </div>
              <ul class="list-group">
                <li class="list-group-item qui-green-font">
                  Show Gender?<input type="checkbox" style="float:right">
                            </li>
                <li class="list-group-item qui-green-font">
                  Receive Age?<input type="checkbox" style="float:right">
                            </li>
                <hr>
                  <li class="list-group-item qui-green-font">
                    <form>
                      <div class="form-group">
                        <label class="control-label">City</label>
                        <div class="controls">
                          <input type="text" class="form-control">
                                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label">Area</label>
                        <div class="controls">
                          <input type="text" class="form-control">
                                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label">Address</label>
                        <div class="controls">
                          <input type="text" class="form-control">
                                        </div>
                        <div class="controls"></div>
                      </div>
                    </form>
                  </li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success qui-button">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="account-settings-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Account Settings</h4>
            </div>
            <div class="modal-body">
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Error!</b> Settings Not Saved.
              </div>
              <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Sucess!</b> Settings saved succesfully.
              </div>
              <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>An email will be sent for confirmation!</b> Thank you.
              </div>
              <ul class="list-group">
                <li class="list-group-item qui-green-font">
                  Receive Email Notifications?<input type="checkbox" style="float:right">
                            </li>
                <li class="list-group-item qui-green-font">
                  Receive Newsletters?<input type="checkbox" style="float:right">
                            </li>
                <hr>
                  <li class="list-group-item qui-green-font">
                    <ul class="nav nav-tabs" id="myTab">
                      <li class="active">
                        <a href="#email" data-toggle="tab" style="color:black;">Email Address</a>
                      </li>
                      <li>
                        <a href="#password" data-toggle="tab" style="color:black;">Password</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="email">
                        <div class="form-group">
                          <br>
                            <label class="control-label">New Email Address</label>
                            <div class="controls">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        <button type="button" class="btn btn-success qui-button">Update</button>
                      </div>
                      <div class="tab-pane" id="password">
                        <div class="form-group">
                          <br>
                            <label class="control-label">New Password</label>
                            <div class="controls">
                              <input type="password" class="form-control">
                            </div>
                          </div>
                        <div class="form-group">
                          <label class="control-label">Re-Enter Password</label>
                          <div class="controls">
                            <input type="password" class="form-control">
                          </div>
                        </div>
                        <button type="button" class="btn btn-success qui-button">Update</button>
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success qui-button">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="connectedapps-settings-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Connected Apps</h4>
            </div>
            <div class="modal-body">
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Error!</b> Settings Not Saved.
              </div>
              <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Sucess!</b> Settings saved succesfully.
              </div>
              No page yet...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="whatis-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">
                <b>Quispot</b>
              </h4>
            </div>
            <div class="modal-body ">
              <h3 class="qui-green-font">What is Quispot?</h3>
              <p> bla bla </p>
              <h3 class="qui-green-font">What does it mean?</h3>
              <p>
                Blah blah
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="howitworks-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">
                <b>Quispot</b>
              </h4>
            </div>
            <div class="modal-body ">
              <h3 class="qui-green-font">How does Quispot work?</h3>
              <p> bla bla </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-fixed-top navbar-inverse quispot-gray shadow noborder">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="position:relative; width:150px; height:40px; left:-20px;" href="/">
            <img class="logoicon" src="images/quispot-logo-wide.png">
                </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="btn btn-primary btn-xs transparent" style="background-color:transparent; border:0px;" href="/create">
                <img class="plusicon" src="images/plus.png">
                        </a>
            </li>
            <li class="active">
              <a class="btn btn-primary btn-xs" style="background-color:transparent; border:0px;" href="/search">
                <img class="searchicon" src="images/search.png">
                        </a>
            </li>
            <li class="active">
              <a class="btn btn-primary btn-sm" style="background-color:transparent; color:black; border:0px; height:64px" onclick="$('#contact-modal').modal();">
                <p></p> Contact
              </a>
            </li>
          </ul>
          <div class="nav navbar-right ">
            <ul class="nav navbar-nav">
              <li>
                <div class="SignedInArea-NoProfile navbar-form" style="display:block;">
                  <h4 class="qui-green-font location" style="float:left;"> LOCATION </h4>

                  <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                      <img class="profile-img-xs" src="https://cdn1.iconfinder.com/data/icons/Hand_Drawn_Web_Icon_Set/128/user.png">
                        <span class="caret"></span>
                      </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="../site/profile.html">Visit Profile</a>
                      </li>
                      <li>
                        <hr />
                      </li>
                      <li>
                        <a href="#">This will show each notification</a>
                      </li>
                    </ul>
                  </div>

                </div>
              </li>
              <li>
                <div class="navbar-form navbar-right" style="display:block;">
                  <div class="btn-group">
                    <a class="btn dropdown-toggle btn-success btn-lg qui-button" data-toggle="dropdown" href="#">
                      Settings    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a onclick="$('#profile-settings-modal').modal();">Profile Settings</a>
                      </li>
                      <li>
                        <a onclick="$('#account-settings-modal').modal();">Account Settings</a>
                      </li>
                      <li>
                        <a onclick="$('#connectedapps-settings-modal').modal();">Connected Apps</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <footer class="black well" style="margin:0px; border:0px; padding-bottom:0px; position:absolute; bottom:0px; width:100%;">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a class="btn btn-primary btn-sm qui-button-footer">What is Quispot</a>
          </div>
          <div class="col-md-2">
            <a class="btn btn-primary btn-sm qui-button-footer">How it works</a>
          </div>
          <div class="col-md-2">
            <a class="btn btn-primary btn-sm qui-button-footer">Terms of Use</a>
          </div>
          <div class="col-md-2">
            <dl style="position:relative; top:-10px;">
              <dt style="color:white;">
                Find us &nbsp;
                <a href="https://www.facebook.com/quispot" class="">
                  <img class="social-icon-s" src="images/facebook2.png">
                            </a>
                <a href="https://twitter.com/QuispotCom" class="">
                  <img class="social-icon-s" src="images/twitter2.png">
                            </a>
              </dt>
            </dl>
          </div>
          <div class="col-md-4">
            <p style="color:white; float:right;">&copy; Quispot - All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
