<!doctype html>

<html>
  
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheet/login.css">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }
      .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin .checkbox {
        font-weight: normal;
      }
      .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
  </head>
  
  <body>
    <div class="well">
      <div class="container">
          <a href="/"><img class="center" style="width:30%; height:30%;" src="images/quispot-logo.png"></a>
        <form class="form-signin" name="login-form" method="post" action="/signup" data-name="login Form" enctype="application/x-www-form-urlencoded">
          <h2 class="form-signin-heading ">Register</h2>
          <% if (message.length > 0) { %>
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <b>Warning!</b> <%= message %>
            </div>
          <% } %>

          <div class="form-group">
            <div class="controls"></div>
          </div>
          <div class="form-group">
            <div class="controls"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Username*</label>
            <div class="controls">
              <input type="text" class="form-control" name="username" placeholder="Enter Username">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">First Name</label>
            <div class="controls">
              <input type="text" class="form-control" name="firstname" placeholder="Enter First Name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Last Name</label>
            <div class="controls">
              <input type="text" class="form-control" name="lastname" placeholder="Enter Last Name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Email*</label>
            <div class="controls">
              <input type="text" class="form-control" name="email" placeholder="Enter Email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Password*</label>
            <div class="controls">
              <input type="password" class="form-control" name="password" placeholder="Enter Password">
            </div>
            <div class="controls">
              <input type="password" class="form-control" name="secondpassword" placeholder="Re-Enter Password">
            </div>
          </div>
          <br>
          <hr>
          <div class="form-group">
            <label class="control-label">Prefered City*</label>
            <div class="controls">
              <input type="text" class="form-control" name="city" placeholder="Enter Email">
            </div>
          </div>
                    <div class="form-group">
            <label class="control-label">Age*</label>
            <div class="controls">
              <input type="number" class="form-control" name="age" placeholder="Enter Date of Birth">
            </div>
          </div>
          
                    <div class="form-group">
            <label class="control-label">Address</label>
            <div class="controls">
              <input type="text" class="form-control" name="address" placeholder="Enter Adress">
            </div>
          </div>
          
          <label class="checkbox">
            <input type="checkbox" value="remember-me" name="news">Receive Newsletters</label>
          <button type="submit " class="btn btn-block btn-success btn-lg qui-button">Register</button>
        </form>
        <a></a><a></a><hr>
        <p class="center-p">Or Login With:</p>
        <div class="row">
          <div class="col-md-6">
            <button href="/auth/facebook" class="btn pull-right btn-primary btn-sm">
              <span class="fa fa-facebook"></span> Facebook</button>
          </div>
          <div class="col-md-6">
            <button href="/auth/twitter" class="btn pull-left btn-info btn-sm">
              <span class="fa fa-twitter"></span> Twitter</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </body>

</html>