<!doctype html>

<html>
  
  <head>
    <title>Jumbotron</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/cirrus/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  
  <body>
    <div class="container">
      <div class="slide container">
        <img src="http://hdwallpaper2013.com/wp-content/uploads/2013/02/Download-Flower-Background-Images-HD-Wallpaper-1080x607.jpg" class="sliderimg img-polaroid">
      </div><br>
      <div class="container">
        <div class="row">
          <div class="col-md-4 well qui-background-semi">
            <p class="center-p">HELLO WORLD</p>
          </div>
          <div class="col-md-4 well qui-background-semi">
            <p class="center-p">HELLO WORLD</p>
          </div>
          <div class="col-md-4 well qui-background-semi">
            <p class="center-p">HELLO WORLD</p>
          </div>
        </div>
      </div>
      <div class="container">
        <section class="video well qui-background-semi">
          <iframe class="video-iframe center" width="640" height="360" src="https://www.youtube.com/embed/qWAF9PgDg2c?list=UU6nSFpj9HTCZ5t-N3Rm3-HA"></iframe>
          <section>
            <p class="center-p">Enter your paragraph text here.</p>
          </section>
        </section>
      </div>
      <div class="container">
        <div class="row well qui-background-semi">
          <div class="col-md-3">
            <img class="center" src="pin.png">
            <p class="center-p">hello world!</p>
          </div>
          <div class="col-md-3">
            <img class="center" src="pin.png">
            <p class="center-p">hello world!</p>
          </div>
          <div class="col-md-3">
            <img class="center" src="pin.png">
            <p class="center-p">hello world!</p>
          </div>
          <div class="col-md-3">
            <img class="center" src="pin.png">
            <p class="center-p">hello world!</p>
          </div>
        </div>
      </div><br>
      <div class="container">
        <section>
          <div class="row">
            <div class="col-md-4">
              <div class="well mini-profile qui-background-semi pull-right">
              <span class="qui-label">sports</span>
                <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                <h4 class="center-p">This is a heading.</h4>
                <h4 class="center-p">This is a heading.</h4>
                <div class="progress">
                  <div class="progress-bar" style="width: 40%;"></div>
                </div>
                <button class="btn btn-success btn-lg center qui-button">Count me IN</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mini-profile well qui-background-semi">
              <span class="qui-label">sports</span>
                <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                <h4 class="center-p">This is a heading.</h4>
                <h4 class="center-p">This is a heading.</h4>
                <div class="progress">
                  <div class="progress-bar" style="width: 80%;"></div>
                </div>
                <button class="btn btn-success btn-lg center qui-button">Count me IN</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="well mini-profile qui-background-semi pull-left">
                <span class="qui-label">sports</span>
                <img class="event-img-mini center" src="https://lh5.googleusercontent.com/EMyiI63kFrh--SqLUh-n7tT2m7TldvpC4HgiJQFx9gK1O_FQfXh-vqc5eRMgP2V2zMB5x36ldKIqVMZjG7bJKze04pBtpB2pvgq3adsu3y1Mti-joDvSHOPmCA">
                <h4 class="center-p">This is a heading.</h4>
                <h4 class="center-p">This is a heading.</h4>
                <div class="progress">
                  <div class="progress-bar" style="width: 1000%;"></div>
                </div>
                <button class="btn center btn-success btn-lg qui-button">Count me IN</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
      <div class="navbar navbar-fixed-top navbar-inverse quispot-gray">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" style="position:relative; width:150px; height:40px; left:-20px;" href="#"><img class="logoicon" src="images/quispot-logo-wide.png"></a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                      <li class="active">
                          <a class="btn btn-primary btn-xs transparent" style="background-color:transparent; border:0px;" href="../site/create.html">
                              <img class="plusicon" src="images/plus.png">
                          </a>
                      </li>
                      <li class="active">
                          <a class="btn btn-primary btn-xs" style="background-color:transparent; border:0px;" href="../site/search.html">
                              <img class="searchicon" src="images/search.png">
                          </a>
                      </li>
                      <li class="active">
                          <a class="btn btn-primary btn-sm" style="background-color:transparent; color:black; border:0px; height:64px"><p></p>Contact</a>
                      </li>
                  </ul>
                  <div class="nav navbar-right ">
                      <ul class="nav navbar-nav">
                          <li>
                              <div class="SignRegArea navbar-form" style="display:block;">
                                  <button type="submit" class="btn btn-success btn-lg qui-button">Sign in</button>
                                  <button type="submit" class="btn btn-success btn-lg qui-button">Register</button>
                              </div>
                          </li>
                          <li>
                              <div class="SignedInArea-NoProfile navbar-form" style="display:none;">
                                  <h4 class="qui-green-font location" style="float:left;"> LOCATION </h4>
                                  <button class="btn btn-success btn-sm qui-button" style="background-color:transparent;">
                                      <img class="profile-img-xs" src="https://cdn1.iconfinder.com/data/icons/Hand_Drawn_Web_Icon_Set/128/user.png">
                                  </button>
                              </div>
                          </li>
                          <li>
                              <div class="navbar-form navbar-right" style="display:none;">
                                  <div class="btn-group">
                                      <a class="btn dropdown-toggle btn-success btn-lg qui-button" data-toggle="dropdown" href="#">    Settings    <span class="caret"></span>  </a>
                                      <ul class="dropdown-menu">
                                          <li>
                                              <a href="#">Account Settings</a>
                                          </li>
                                          <li>
                                              <a href="#">Profile Settings</a>
                                          </li>
                                          <li>
                                              <a href="#">Connected Apps</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <!--/.navbar-collapse -->
          </div>
      </div>
    <!-- Main jumbotron for a primary marketing message or call to action --><br>
    <!-- /container -->
      <footer class="black well" style="margin:0px; border:0px; padding-bottom:0px;">
          <div class="container">
              <div class="row">
                  <div class="col-md-2">
                      <a class="btn btn-primary btn-sm qui-button-footer" onclick="$('#whatis-modal').modal();">What is Quispot</a>
                  </div>
                  <div class="col-md-2">
                      <a class="btn btn-primary btn-sm qui-button-footer" onclick="$('#howitworks-modal').modal();">How it works</a>
                  </div>
                  <div class="col-md-2">
                      <a class="btn btn-primary btn-sm qui-button-footer">Terms of Use</a>
                  </div>
                  <div class="col-md-2">
                      <dl style="position:relative; top:-10px;">
                          <dt style="color:white;">
                              Find us &nbsp;
                              <a href="https://www.facebook.com/quispot" class="">
                                  <img class="social-icon-s" src="images/facebook2.png">
                              </a>
                              <a href="https://twitter.com/QuispotCom" class="">
                                  <img class="social-icon-s" src="images/twitter2.png">
                              </a>
                          </dt>
                      </dl>
                  </div>
                  <div class="col-md-4">
                      <p style="color:white; float:right;">&copy; Quispot - All rights reserved</p>
                  </div>
              </div>
          </div>
          <!-- /container -->
      </footer>
  </body>

</html>